body {
    font-family: 'Roboto', sans-serif;;
}

/* containers */

.alert-container {
    
}


.callout-container {
    height: 100vh;
    background: url('../images/headerbg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 100px;
}

/* opaque-overlay */

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


.text-uppercase {
    text-align: center;
    text-transform: uppercase;
}


/* navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .35);
    border: 0;
}



.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    font-size: 26px;
}

.navbar-default .navbar-text {
    color: #fafafa;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fafafa;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 120px;
    background-color: orange;
    color: #fafafa;
    font-weight: bold;
}

.navbar-nav:hover,
.navbar-btn:hover {
    background-color: orange;
    border-color: orange;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

/* jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron .h1, .jumbotron h1 {
    color: #fafafa;
}

.jumbotron p {
    color: #fafafa;
}

.fa-download, .fa-envelope {
    color: #fafafa;
}


/* block divider */

.block-divider--orange {
    background-color: orange;
    width: 200px;
    height: 5px;
 
}

/* buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 175px;
    margin:5px;
}

.btn--red {
    color: #fafafa;
    background-color: transparent; 
    border-color: #fafafa;
    margin: 5px;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: orange;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*--------------------------------------------Footer*/
footer {
    background-color: #000080;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: orange;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: orange;
}

#footer-details {
    margin: 20px;
}